<div id="<%= dom_id entry %>">
  <h1>
    <strong>Title:</strong>
    <%= entry.title %>
  </h1>
  <p>
    <strong>Content:</strong>
    <%= entry.content %>
  </p>
  <p>
    <strong>Vector:</strong>
    <%= entry.embedding %>
  </p>
  <p>
    <strong>Token Count:</strong>
    <%= entry.token_count %>
  </p>
</div>
