<div id="<%= dom_id factory %>">
  <p>
    <strong>Name:</strong>
    <%= factory.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= factory.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= factory.url %>
  </p>

  <% if factory.containers.present? %>
    <ul>
      <% factory.containers.each do |container| %>
        <li>
          <p>
            <%= link_to container.name,  factory_container_path(factory, container) %>
          </p>
          <p>
            <%= container.description %>
          </p>
          <p>
            Entries Count: <%= container.entries.count %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "Add new container", new_factory_container_path(factory) %>
</div>
