<div id="<%= dom_id container %>">
  <p>
    <strong>Name:</strong>
    <%= container.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= container.description %>
  </p>

  <div>
    <p>Entries</p>
    <ul>
      <% @container.entries.each do |entry| %>
        <li>
          <%= link_to entry.title, [@factory, @container, entry] %>
        </li>
      <% end %>
    </ul>
    <p>
      <%= link_to "Add new entry", new_factory_container_entry_path(@factory, @container) %>
    </p>
  </div>
</div>
