<%= form_with(model: [@factory, container]) do |form| %>
  <% if container.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
        <% container.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :factory, value: @factory.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
