<p style="color: green"><%= notice %></p>

<%= render @container %>

<div>
  <%= link_to "Edit this container", edit_factory_container_path(@factory, @container) %> |
  <%= link_to "Back to factory", factory_path(@factory) %>

  <%= button_to "Destroy this container", factory_container_path(@container), method: :delete %>
</div>
