<%= form_with(model: @question_answer, url: chat_data_sources_question_answers_path(@chat.id) ) do |form| %>
  <div class="mb-3 row">
    <%= form.label :question, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :question, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :answer, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :answer, class: "form-control" %>
    </div>
  </div
  <div class="mb-3">
    <%= form.button type: :submit, class: "btn btn-primary" do %>
      <i class="fas fa-paper-plane"></i>
      <span class="pl-2">Add</span>
    <% end %>
  </div>
<% end %>
